/*
  font-family: "Mada", sans-serif; // Substance/content
  font-family: "Barlow Condensed", sans-serif; // Section titles
  font-family: "Abel", sans-serif; // Name / Title
  font-family: "ivymode", sans-serif; // Navigation font
*/

:root {
    --smallPad: 10px;
    --medPad: 20px;
    --lgPad: 35px;
    --border-radius: 10px;

    --Dark: #232F25;
    --Grey: #61655A;
    --GreyLight: #CACAC3;
    --Accent1: #AFAB63;
    --Accent2: #B67135;
    --Light: #F9F7F1;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--Light);
    color: var(--Dark);
}

h1, h3 {
    font-family: "Abel", sans-serif;
}

h2  {
    font-family: "Barlow Condensed", sans-serif;
}

p, a {
    font-family: "Mada", sans-serif;
}

a {
    color: var(--Dark);
    text-decoration: none;
    display: block;
    position: relative;
    width: fit-content;
}

a::before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--Grey);
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease, transform-origin 0.1s step-end;
}

@keyframes underline {
    from {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes underline-origin {
    from {
        transform-origin: right;
    }

    50% {
        transform-origin: left;
    }

    to {
        transform-origin: right;
    }
}

a:hover::before {
    animation: underline .8s, underline-origin .8s step-end;
}

a:hover {
    color: var(--Grey);
}

nav {
    position: sticky;
    z-index: +2;
}

nav ol {
    font-family: "ivymode", sans-serif; 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: var(--medPad);
    justify-content: end;
    align-items: center;
}

.nav_li {
    display: block;
    position: relative;
    transition: color .5s ease;
}

.nav_li:hover {
    color: var(--Grey);
    cursor: pointer;
}

.nav_li::before {
    content: " ";
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--Grey);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav_li:hover::before {
    transform: scaleX(1);
}

#main, #root {
    width: 100%;
    height: 100%;
}

#main {
    position: fixed;
    left: 0px;
    top: 0px;
}

#root {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* General */
#transition-bubble {
    background-color: var(--Light);
    position: absolute;
    aspect-ratio: 1/1;
    width: 200vw;
    height: auto;
    border-radius: 0px 0px 100% 0px;
    transform: scale(0);
    transform-origin: top left;
    transition: transform .8s ease-out;
    z-index: +1;
}

.activate {
    transform: scale(1) !important;
}

.deactivate {
    transform: scale(0) !important;
}

/* Home Section */
#home-title {
    color: var(--Accent1);
    font-size: 18vw;
    font-family: "ivymode", sans-serif;
    font-weight: 100;
}

/* Project Section */
#project-section {
    padding: var(--medPad);
}

#project-container {
    display: flex;
    flex-direction: column;
    gap: var(--medPad);
}

/*  */